a.navbar-brand
{
    padding-top: 10px;
}

h4
{
    margin: 0;
}

.panel-heading
{
    margin-bottom: 8px;
}

.pull-right.with-margin
{
    margin: 10px 0 10px 30px;
}

p.last
{
    margin-bottom: -5px;
}

.small-text
{
    font-size: 0.8em;
}

.clear
{
    clear: both;
}

.footer
{
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #e0e0e0;
  color: #444;
  padding: 30px 20px 50px;
  margin-top: 20px;
}